{% extends 'base.html.twig' %}

{% block title %} - {{ lesson.name }}{% endblock %}

{% block body %}

{% if lesson.image %}
    <div class="lesson-image">
        <img src="{{ asset('uploads/images/' ~ lesson.image) }}" alt="Image de la formation {{ lesson.name }}" style="max-width: 100%; height: auto;">
    </div>
{% endif %}
<div class="wrapper content lesson">
    <h1>{{ lesson.name }}</h1>

    {% if lesson.videoFilename %}
        <div class="lesson-video">
            <video width="100%" controls controlsList="nodownload" oncontextmenu="return false;">
                <source src="{{ path('secure_video_lesson', { id: lesson.id }) }}" type="video/mp4">
                Votre navigateur ne supporte pas les vidéos HTML.
            </video>
        </div>
    {% endif %}

    {% if lesson.contentText %}
        <div class="lesson-text">
            {{ lesson.contentText|raw }}
        </div>
    {% endif %}

    {% if not userLesson.isValidated %}
        <form method="post" action="{{ path('client_lesson_validate', {id: lesson.id}) }}">
            <input type="hidden" name="_token" value="{{ csrf_token('validate_lesson_' ~ lesson.id) }}">
            <button type="submit" class="btn btn-success">
                Valider cette leçon
            </button>
        </form>
    {% else %}
        <div class="alert alert-info">✅ Leçon déjà validée</div>
    {% endif %}
</div>

<script>
    document.addEventListener('contextmenu', function(event) {
        if (event.target.tagName === 'VIDEO') {
            event.preventDefault();
        }
    });
</script>
{% endblock %}
