{% extends 'base.html.twig' %}

{% block title %} - {{ lesson.name }}{% endblock %}

{% block body %}

{% if lesson.image %}
    <div class="lesson-image">
        <img src="{{ asset('uploads/images/' ~ lesson.image) }}" alt="Image de la formation {{ lesson.name }}" style="max-width: 100%; height: auto;">
    </div>
{% endif %}
<div class="wrapper content">
    <h1>{{ lesson.name }}</h1>

    {% if lesson.videoFilename %}
        <div class="lesson-video">
            <video width="100%" controls controlsList="nodownload" oncontextmenu="return false;">
                <source src="{{ path('secure_video_lesson', { id: lesson.id }) }}" type="video/mp4">
                Votre navigateur ne supporte pas les vidéos HTML.
            </video>
        </div>
    {% endif %}

    {% if lesson.contentText %}
        <div class="lesson-text">
            {{ lesson.contentText|raw }}
        </div>
    {% endif %}
<script>
    document.addEventListener('contextmenu', function(event) {
        if (event.target.tagName === 'VIDEO') {
            event.preventDefault();
        }
    });
</script>
</div>
{% endblock %}
