{% extends 'base.html.twig' %}

{% block title %}{{ lesson.name }} - Détail de la formation{% endblock %}

{% block body %}

{% if lesson.image %}
    <div class="lesson-image">
        <img src="{{ asset('uploads/images/' ~ lesson.image) }}" alt="Image de la formation {{ lesson.name }}">
    </div>
{% endif %}

<div class="wrapper content lesson-excerpt">

    <div class="lesson-excerpt-content">
        <h1>{{ lesson.name }}</h1>

        {% if lesson.description %}
            <div class="lesson-description">
                {{ lesson.description|raw }}
            </div>
        {% endif %}
    </div>
    <div class="lesson-price-cart">
        <strong class="price">{{ lesson.price }} €</strong>
        <a href="#" class="btn btn-primary">Ajouter au panier</a>
    </div>

</div>
{% endblock %}
